#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  color: #4700b3;
  background-color: azure;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
.list {
  display: flex;
  justify-content: start;
  gap: 24px;
  padding: 0;
  flex-wrap: wrap;
}
